body {
    font-family: "Gabarito", sans-serif;

    }

*{
    margin: 0;
    padding: 0;

}    

.navbar{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: solid black 1px;
    gap: 20px;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: white;
}

.navbar__s1__title{
    color: #a435f0;

}

.navbar__s2{
    border: solid black 1px;
    border-radius: 30px;
    width: 60%;
    gap: 10px;
    display: flex;
    align-items: center;
    padding: 10px;

}

.navbar__s2 input{
    border: none;
    width: 100%;
    height: 100%;
    font-size: 16px;
    background-color: transparent;


}

.navbar__s2 input:focus{
    outline: none;
    
}

.navbar__s3{
    display: flex;
    gap: 10px;
    align-items: center;
}

/* my learning popup*/
.mylearning{
    position: relative;
    cursor: pointer;
}
.mylearning__popup{
    position: absolute;
    background-color: white;
    border: solid black 2px;
    width: 100px;
    top: 150%;
    padding: 20px;
    right: 0;
    display: none;

}
.mylearning:hover .mylearning__popup{
    display: block;

}

.catogiries{
    display: flex;
    border-bottom: black 1px solid;
    padding: 10px;
    justify-content: space-around;
}

.catogiries p{
    background-color:#a435f0;
    color: white;
    padding: 10px;
    border-radius: 30px;
}

.sale-image{
    position: relative;
}

.sale-image img{
    width: 100%;

}

.sale-image__offer{
    width: 35%;
    border: solid black 2px;
    padding: 10px;
    background-color: transparent;
    position: absolute;
    left: 10%;
    top: 10%;
}

.recomended{
    padding: 10px;
}

.course-card{
    width: 300px;
}


.course-card img{
    width: 100%;
    height: 50%;
}

.recomended__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
}

.topics{
    padding: 10px;
}

.topics__container{
    display: flex;
    gap: 10px;
    margin-top: 10px;
    flex-wrap: wrap;

}

.topics__container p{
    flex-grow: 1;
    border: solid black 2px;
    padding: 10px;
    flex-basis: 25%;


}

.popular{
    padding: 10px;
}

.popular__container{
    display: flex;
    gap: 10px;
    margin-top: 10px;
    flex-wrap: wrap;
    justify-content:space-between;
}

.footer{
    padding: 30px;
    background-color: black;
    color: white;
}

.footer__one{
    display: flex;
    gap: 10px;

}

.footer__one p{
    margin: 20px;
}


.footer__two{
    display: flex;
    justify-content: space-between;
    margin: 20px;
    align-items: center;
}